@page "/bills"
@attribute [Authorize]
@using CleanArchitecture.Web.Blazor.Modules.Bill.Facades
@using CleanArchitecture.Application.Bill
@inject IBillFacade billFacade

<h1>Bills</h1>

<p>A list of all your bills.</p>

@if (bills == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Shopname</th>
                <th>Price (€)</th>
                <th>Date</th>
                <th>Category</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in bills)
            {
                <tr>
                    <td>@forecast.ShopName</td>
                    <td>@forecast.Price</td>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.Category</td>
                    <td>@forecast.Notes</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private BillDto[] bills;

    protected override async Task OnInitializedAsync()
    {
        bills = (await billFacade.GetBillsAsync(100, 0)).ToArray();
    }
}
